.chatWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .chatHeader {
    background-color: #36393f;
    color: #ffffff;
    padding: 1rem;
  }
  
  .messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #e3e5e8;
  }
  
  .message {
    margin-bottom: 0.5rem;
  }
  